@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */
@font-face {
  font-family: 'Termina';
  src: url('/fonts/Termina-Regular.woff2') format('woff2'); /* Adjust path and formats */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Termina', sans-serif;
}
/* tailwind text stroke utility */
.stroke-text {
  -webkit-text-stroke: 0.6px white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
